{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>{{title}}</title>
    <link rel="icon" href="{% static 'img/favicon.png' %}" type="image/png">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css'' %}">
</head>
<body>
    <div class="container">
        <div style="display:flex; margin-bottom: 40px; align-items: center; justify-content: center;">
            <img src="{% static 'img/logo.png' %}" alt="" class="logo-dark" width="450  ">
            <br>
            <br>
        </div>
        <div class="card" style="margin: 0 auto; float: none;">
            <!-- <div class="d-flex justify-content-left px-3 pt-3">
                <img src="{% static 'img/logo-dark.png' %}" alt="" class="logo-dark" width="200">
            </div> -->
            <div class="d-flex justify-content-between px-3 pt-4">
                <span class="form-head">{{header}}</span>
            </div>
            <form method="POST" action="{% url 'addform' %}">
                {% csrf_token %}
                <div class="px-3 pt-3">
                    <label for="card-number">
                        <span class="labeltxt">Pinjaman</span>
                    </label>
                    <input type="text" id="pinjaman" class="form-control inputtxt" placeholder="Rp 10.000.000" onchange="hitungangsuran()" required>
                    <input type="hidden" name="pinjaman" id="hpinjaman">
                </div>
                <div class="justify-content-between px-3 pt-3">
                    <div class="row">
                        <div class="col-md-6">
                            <label for="tenor" class="labeltxt">Tenor</label>
                            <select class="form-control select" name="tenor" id="tenor" onchange="hitungangsuran()" required>
                                <option disabled selected hidden value="">--Pilih Tenor--</option>
                                <option value="1">1 Tahun</option>
                                <option value="2">2 Tahun</option>
                                <option value="3">3 Tahun</option>
                                <option value="4">4 Tahun</option>
                            </select>
                        </div>
                        <div class="col-md-6">
                            <label for="angsuran" class="labeltxt">Estimasi Angsuran /bulan (bunga 0.83%)</label>
                            <input type="text" id="angsuran" class="form-control inputtxt" placeholder="Rp 000.000" disabled>
                            <input type="hidden" name="angsuran" id="hangsuran">
                        </div>
                    </div>
                </div>
                <div class="px-3 pt-3">
                    <label for="card-number">
                        <span class="labeltxt">Nama Lengkap</span>
                    </label>
                    <input type="text" name="nama" class="form-control inputtxt" placeholder="John Doe" required>
                </div>
                <div class="justify-content-between px-3 pt-3">
                    <div class="row">
                        <div class="col-md-6">
                            <label for="alamat" class="labeltxt">Alamat</label>
                            <input type="text" name="alamat" class="form-control inputtxt" placeholder="Jl. CIliwung No.11" required>
                        </div>
                        <div class="col-md-6">
                            <label for="Kota" class="labeltxt">Kota</label>
                            <select name="kota" id="kota" class="form-control select" required>
                                <option disabled selected hidden value="">--Pilih Kota--</option>
                                {% for k in kota %}
                                  <option value="{{k.id}}">{{k.kota}}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </div>
                <div class="justify-content-between px-3 pt-3">
                    <div class="row">
                        <div class="col-md-6">
                            <label for="email" class="labeltxt">Email</label>
                            <input type="email" class="form-control inputtxt" placeholder="johndoe@mail.com" name="email" required>
                        </div>
                        <div class="col-md-6">
                            <label for="telp" class="labeltxt">Telp / Hp</label>
                            <input type="number" name="telp" class="form-control inputtxt telp" placeholder="(999)-999999" required>
                        </div>
                    </div>
                </div>
                <div class="d-flex px-3 py-4">
                    <div class="mr-auto p-2">  
                        <label for="syarat" class="syarattxt">
                            <em>*Syarat dan Ketentuan berlaku</em>
                        </label>
                    </div>
                    <div class="p-1">
                        <a href="https://bankumkm.id">
                            <button type="button" class="btn cancel">Cancel</button>
                        </a>
                    </div>
                    <div class="p-1">
                        <button type="submit" class="btn payment" data-toggle="modal">Submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!-- Jquery -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="{% static 'js/bootstrap.min.js' %}" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script type="text/javascript">
        var rupiah = document.getElementById('pinjaman');
        rupiah.addEventListener('keyup', function(e){
            rupiah.value = formatrupiah(this.value, 'Rp ');
            $('#hpinjaman').val($(this).val().replace(/\D/g,''));
        });

        function formatrupiah(angka, prefix){
            var number_string = angka.replace(/[^,\d]/g, '').toString(),
			split   		= number_string.split(','),
			sisa     		= split[0].length % 3,
			rupiah     		= split[0].substr(0, sisa),
			ribuan     		= split[0].substr(sisa).match(/\d{3}/gi);
 
			// tambahkan titik jika yang di input sudah menjadi angka ribuan
			if(ribuan){
				separator = sisa ? '.' : '';
				rupiah += separator + ribuan.join('.');
			}
 
			rupiah = split[1] != undefined ? rupiah + ',' + split[1] : rupiah;
			return prefix == undefined ? rupiah : (rupiah ? 'Rp ' + rupiah : '');
        }

        function hitungangsuran(){
            var p = $('#pinjaman').val().replace(/\D/g,'');
            var t = $('#tenor').val()*12;
            console.log(p);
            console.log(t);
            var pokok = p / t;
            var bunga = p * (0.83 / 100);
            var angsuran = pokok + bunga;
            if ($('#tenor').val() == 0) {
                $('#ansuran').val('Rp 000.000')
            } else {
                $('#hangsuran').val(Math.round(angsuran))
                $('#angsuran').val('Rp '+parseFloat(Math.round(angsuran)).toLocaleString('en'));
            }
        }
    </script>
</body>
</html>